/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------loader--------------*/
body#loader {
  overflow: hidden;
}

#loader {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

#loader .lds-hourglass {
  opacity: 1;
  margin-left: auto;
  width: 3.125rem;
  height: auto;
}

.lds-hourglass {
  margin-top: 20%;
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 0.5rem;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/*---------------loader--------------*/

/*---------------header-----------------*/
header {
  height: 10vh;
}
nav {
  margin: 1.25rem 0 3.75rem 0;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: blanchedalmond;
  z-index: 1;
}
#header {
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style: none;
  text-decoration: none;
  transition: all 0.5s;
  border: 10px solid transparent;
}
ul li:hover {
  border: 10px solid #a2cae2;
  border-radius: 40%;
}

a {
  text-decoration: none;
  color: #273142;
  font-size: 1.25rem;
  font-weight: 600;
}

/*-------------header-----------*/

/*------------page body-----------*/
body {
  min-width: 100%;
  height: 100%;
  background: linear-gradient(#34dfb9, #6413f8);
  font-family: Arial, "DIN-Medium", sans-serif, "Roboto";
  color: #ffffff;
}
/*------------page body-----------*/

/*---------------city ​​research field---------------*/
main > #search {
  display: flex;
  justify-content: center;
  margin: 5rem 0 3.125rem 0;
}
#submit {
  position: relative;
  top: 0;
  right: 2.5rem;

  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

#icon {
  width: 1.875rem;
  height: 1.875rem;
}
/*---------------city ​​research field---------------*/

/*------------main content/current weather-----------------*/
.container,
.infoAdd {
  min-width: 100%;
  height: 50vh;
}

.container,
.contInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.infoAdd {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contInfo {
  border: 0.125rem solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(11.25rem);
  border-radius: 0.625rem;
  width: 80%;
  min-height: 40vh;
}
/*------------main content/current weather-----------------*/

/*-------------session additional information---------------------*/
/*------------class additional information----------*/

#forecastDay,
.inforTemp,
#hour {
  font-size: 1.25rem;
}

#hour {
  text-align: center;
}

#tempatual > #local,
#tempag {
  display: flex;
  justify-content: center;
}

#forecastDay > span {
  display: flex;
  justify-content: space-between;
}
/*-------------session additional information---------------------*/

/*--------current time------------------*/
#temp {
  font-size: 6.875rem;
}
/*--------current time------------------*/

/*---------------informational data-------------*/
.infoData > .tagp {
  line-height: 2.188rem;
  display: flex;
  justify-content: space-between;
}

.tagp {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
}

/**/
#textSearch {
  width: 40%;
  height: 2.188rem;
  border-radius: 0.75rem;
  border-color: #ffffff;
}

/*---------------weekly forecast section-------------------*/
#cards {
  display: flex;
  justify-content: space-evenly;
  margin: 1.875rem 1.25rem 1.875rem 1.25rem;
}

.card {
  border: solid 0.125rem;
  border-radius: 0.625rem;
  min-width: 12.8%;
  min-height: 35vh;
  text-align: center;
  line-height: 1.875;
  padding: 1.25rem 0.625rem 0 0.625rem;
  margin: 0 0.625rem;
}

#sectionCards {
  width: auto;
  text-align: center;
  margin: 1.875rem 0 6.25rem 0;
}

.desc {
  font-size: 0.938rem;
  font-weight: 600;
}
/*---------------weekly forecast section-------------------*/

/*-------------------graphic section----------------------------*/

#section-charts {
  margin: 1.563rem 0.5rem 1.563rem 0.5rem;
}
/*-------------------graphic section----------------------------*/

/*-------------------alerts----------------------------*/

#alertBlock {
  max-width: 95%;
  height: 68vh;
  margin-bottom: 2.188rem;
}

#titleAlert {
  text-align: center;
}

#alert {
  display: flex;
  justify-content: center;
  border: yellow solid;
  margin: 2.5rem 1.25rem 0 1.875rem;
  width: 100%;
}

.textAlert {
  font-weight: 700;
}

#alertInfo {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  width: 95%;
}
/*-------------------alerts----------------------------*/

/*-------------------------footer------------------------------*/
#hrFooter {
  width: 100%;
  margin: 2.5rem 0 2.5rem 0;
}

footer {
  width: 100%;
  height: 25vh;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5rem;
}
.footerLink {
  font-size: 17px;
}
/*-------------------------footer------------------------------*/

/*-------------------------------------------------------*/
/*-------------------media-query----------------------------*/
/*-------------------------------------------------------*/

/*--------------------informational data--------------------*/
@media (max-width: 425px) {
  .infoAdd {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0 0.188rem 0;
  }
  .tagp {
    line-height: 0.625rem;
  }

  .infoData {
    width: 85%;
    text-align: right;
  }
}

@media (max-width: 320px) {
  .tagp {
    font-size: 1.125rem;
  }
}
/*--------------------informational data--------------------*/

/*--------------------search--------------------*/
@media (max-width: 768px) {
  #textSearch {
    width: 65%;
  }
}
/*--------------------search--------------------*/

/*----------------main content/current weather------------------------*/
@media (max-width: 425px) {
  .contInfo {
    width: 90%;
    flex-direction: column;
    padding: 0.625rem 0 0.625rem 0;
    line-height: 1.563rem;
  }
  #forecastDay {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
  }

  #temp {
    font-size: 3.125rem;
    margin: 1.25rem 0 0.938rem 0;
  }
  #hour {
    margin-top: 0.5rem;
    line-height: 1.875rem;
  }
}
/*----------------main content/current weather------------------------*/

/*-----------------weekly forecast section-----------------------*/
@media (max-width: 768px) {
  #cards {
    flex-wrap: wrap;
  }
  .card {
    width: 20%;
    margin: 1.25rem;
  }
}

@media (max-width: 425px) {
  #cards {
    flex-wrap: wrap;
  }
  .card {
    width: 40%;
    margin: 1.25rem 0 1.25rem 0;
  }
}

@media (max-width: 320px) {
  .card {
    width: 60%;
  }
  #titleCards > h1 {
    font-size: 1.375rem;
    padding: 0.625rem 0.625rem 0 0.625rem;
  }
}
/*-----------------weekly forecast section-----------------------*/

/*------------------hamburger menu---------------------*/

#btn-mobile {
  display: none;
}
@media (max-width: 768px) {
  #btn-mobile {
    display: flex;
    border: none;
    margin-left: 20px;
    background-color: transparent;
  }

  #header {
    position: absolute;
    width: 100%;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: darkgrey;
    transition: 2.5s;
  }
  #header.active {
    left: -100%;
    transition: 2.5s;
  }

  /*-----------------menu harburguer----------------------*/
  #hanburg {
    border-top: 2px solid rgb(17, 16, 16);
    width: 20px;
    transition: 0.3s;
    margin: 20px;
  }
  #hanburg::after,
  #hanburg::before {
    content: "";
    display: block;
    width: 20px;
    margin-top: 5px;
    border-top: 2px solid rgb(17, 16, 16);
  }

  .active #hanburg {
    border-top-color: transparent;
  }
  .active #hanburg::before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .active #hanburg::after {
    transform: rotate(-45deg) translate(-1px, -1px);
  }

  ul li {
    border-bottom: #dddddd 1px solid;
  }
  nav {
    background-color: transparent;
  }
}
/*------------------hamburger menu---------------------*/

/*---------------alert------------------------*/
@media (max-width: 768px) {
  #alertBlock {
    margin-bottom: 70px;
    margin: 0 50px 60px 0;
  }
}
@media (max-width: 425px) {
  #alertBlock {
    height: 90vh;
    margin: 0 50px 70px 0;
  }
}

@media (max-width: 375px) {
  #alertBlock {
    margin: 0 50px 150px 0;
  }
}

@media (max-width: 320px) {
  #alertBlock {
    margin: 0 50px 160px 0;
  }
}
/*---------------alert------------------------*/

/*---------------footer------------------------*/

@media (max-width: 425px) {
  #footer {
    text-align: center;
    padding: 0 15px;
  }
}
/*---------------footer------------------------*/
